:root {
  color-scheme: light dark;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
}

body {
  margin: 0;
}

main {
  max-width: 68rem;
  margin: 0 auto;
  padding: 2rem 1.25rem 5rem;
}
